.floating_wrapper {
  .stacked {
    &_halfround_1 {
      position: absolute;
      width: 4%;
      top: 13%;
      left: 12%;
    }

    &_halfround_2 {
      position: absolute;
      width: 4%;
      top: 3%;
      right: 18%;

      .floating {
        animation-delay: 400ms;
      }
    }

    &_unity {
      width: 10%;
      position: absolute;
      top: 32%;
      left: 6%;

      .floating {
        animation-delay: 800ms;
      }
    }

    &_apple {
      width: 9%;
      position: absolute;
      top: 16%;
      right: 25%;

      .floating {
        animation-delay: 1200ms;
      }
    }

    &_android {
      width: 9%;
      position: absolute;
      bottom: 35%;
      left: 15%;

      .floating {
        animation-delay: 400ms;
      }
    }
  }

  .infra {
    &_nft {
      position: absolute;
      width: 7%;
      top: 27%;
      left: 21%;
    }

    &_marketplace {
      position: absolute;
      width: 8%;
      top: 25%;
      right: 25%;

      .floating {
        animation-delay: 400ms;
      }
    }

    &_swirl_right {
      width: 5%;
      position: absolute;
      top: 32%;
      right: 16%;

      .floating {
        animation-delay: 1600ms;
      }
    }

    &_game {
      position: absolute;
      width: 9%;
      top: 56%;
      left: 9%;

      .floating {
        animation-delay: 600ms;
      }
    }

    &_coin {
      width: 7%;
      position: absolute;
      top: 47%;
      right: 20%;

      .floating {
        animation-delay: 1200ms;
      }
    }

    &_swirl_left {
      position: absolute;
      width: 5%;
      bottom: 26%;
      left: 4%;

      .floating {
        animation-delay: 0ms;
      }
    }
  }
  
  .floating {
    position: absolute;
    animation-name: floating;
    animation-delay: 1600ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;

    transform: translate3d(0,-50%,0);
    transition: transform 1000ms cubic-bezier(.52,.01,.16,1) 1000ms;
  }

  @keyframes floating {
    0%,to { transform:translate(0%,-50%); }
    25% { transform:translate(5px,calc(-50% + 15px)); }
    50% { transform:translate(10px,calc(-50% + 5px)); }
    75% {transform:translate(0%,calc(-50% + 15px)); }
  }
}
