@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&family=Outfit:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "Objectivity";
  src: url("/assets/fonts/Objectivity/Objectivity-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/assets/fonts/Objectivity/Objectivity-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/assets/fonts/Objectivity/Objectivity-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 84px; 
}

code span {
  word-break: break-all;
}

@media only screen and (max-width: 1024px) {
  html {
    scroll-padding-top: 80px; 
  }
}

@media only screen and (max-width: 768px) {
  html {
    scroll-padding-top: 64px; 
  }
}